@font-face{
	font-family: 'Poppins';
	src:  url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face{
	font-family: 'Poppins';
	src:  url("../fonts/Poppins-SemiBold.woff2") format("woff2");
	font-weight: bold;
}

@font-face{
	font-family: 'Poppins';
	src:  url("../fonts/Poppins-Light.woff2") format("woff2");
	font-weight: lighter;
}

@font-face{
	font-family: 'Blair';
	src:  url("../fonts/blair-itc-medium-6946.woff2") format("woff2");
}

@font-face{
	font-family: 'Blair';
	src:  url("../fonts/blairitc-tt-bold.woff2") format("woff2");
	font-weight: bold;
}
